In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

In [2]:
#https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

In [3]:
executable_path = {'executable_path': '/Users/nehemias/Downloads/chromedriver'}
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [4]:
# URL of page to be scraped
news_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [5]:
browser.visit(news_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
news_title = soup.find('div',class_ = "content_title").text
news_title

'NASA Invites Students to Name Mars 2020 Rover'

In [7]:
news_p = soup.find('div',class_ = "article_teaser_body").text
news_p

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

# Featured Image

In [8]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [9]:
browser.visit(image_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [10]:
new_result = soup.find_all('article')
split_url = new_result[0].attrs['style'][23:-3]

In [11]:
split_url

'/spaceimages/images/wallpaper/PIA19643-1920x1200.jpg'

In [12]:
featured_image_url = f"https://www.jpl.nasa.gov{split_url}"

In [13]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19643-1920x1200.jpg'

# Mars Weather

In [14]:
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

In [15]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [16]:
mars_weather = soup.find('p', class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'We won’t be hearing from @MarsCuriosity or @NASAInSight for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/\xa0…pic.twitter.com/fWruE2v151'

# Mars Facts

In [17]:
mars_facts_url = "https://space-facts.com/mars/"
browser.visit(mars_facts_url)

In [18]:
df = pd.read_html(mars_facts_url)
df

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
df[0]

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [20]:
df1 = df[1]
df1

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
df1.columns = ["description","Value"]

In [22]:
df1

            description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
df1.set_index("description", inplace = True)

In [24]:
df1

                                              Value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [25]:
mars_html = df1.to_html()

In [26]:
data = df1.to_dict(orient='records')

In [27]:
mars_html = mars_html.replace("\n", "")
mars_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [28]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)

In [29]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [30]:
new_images = soup.find_all("img",class_ = "thumb")

In [31]:
hemisphere_image_urls = []
list_names = ["Cerberus Hemisphere","Schiaparelli Hemisphere","Syrtis Major Hemisphere","Valles Marineris Hemisphere"]
for i in range(len(new_images)):
    src_url = new_images[i].attrs["src"]
    dictionary = {"title": list_names[i],"image url": f"https://astrogeology.usgs.gov{src_url}"}
    hemisphere_image_urls.append(dictionary)

In [32]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'image url': 'https://astrogeology.usgs.gov/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere',
  'image url': 'https://astrogeology.usgs.gov/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere',
  'image url': 'https://astrogeology.usgs.gov/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere',
  'image url': 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}]